.env
**/.minio.sys/*
minio-data/*
lib/
dist/
__pycache__/
node_modules/
.vscode/
.idea/
npm-debug.log
yarn-error.log
package-lock.json
MANIFEST
jupyterlab_s3_browser.egg-info/
.ipynb_checkpoints/
.jupyterlab/
*.ipynb
*.pipeline
.coverage
htmlcov/
jupyterlab_s3_browser/labextension
*.tsbuildinfo
*.txt
cypress/videos/*
cypress/screenshots/*
.yarn/*