[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
jupyterlab = "~=3.0"
jupyter-packaging = "~=0.7.9"
jupyterlab-s3-browser = {editable = true, path = "."}

[requires]
python_version = "3.8"
